<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="http://bootswatch.com/darkly/bootstrap.min.css">
  <style>
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "Raleway", sans-serif
    }

    body,
    html {
      height: 100%;
      line-height: 1.8;
    }

    /* Full height image header */

    .bgimg-1 {
      background-position: center;
      background-size: cover;
      background-image: url("/w3images/mac.jpg");
      min-height: 100%;
    }

    .w3-bar .w3-button {
      padding: 16px;
    }
  </style>
  <title>Sign Up</title>

</head>

<body>
  <div id="fb-root"></div>
  <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s);
      js.id = id;
      js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11&appId=338082046674221';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    window.fbAsyncInit = function() {
      FB.init({
        appId: '338082046674221',
        autoLogAppEvents: true,
        xfbml: true,
        version: 'v2.11'
      });
    };
    FB.login(function(response) {
      if (response.authResponse) {
        console.log('Welcome!  Fetching your information.... ');
        FB.api('/me', function(response) {
          console.log('Good to see you, ' + response.name + '.');
        });
      } else {
        console.log('User cancelled login or did not fully authorize.');
      }
    });

    FB.getLoginStatus(function(response) {
      if (response.status === 'connected') {
        console.log('Logged in.');
      } else {
        FB.login();
      }
    });
  </script>
  <div class="w3-display-left">
    <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false">
    </div>
  </div>
  <div class="w3-display-middle">
    <form action="/saving_url/" method="post"> {% csrf_token %}
      <p><input class="w3-input w3-border" type="text" placeholder="Url" required id="url" maxlength="100" name="url"></p>
      <div class="w3-center">
        <button class="w3-center w3-button w3-red" type="button" onclick="clear_urls()">
            Clear Urls
          </button>
        <button class="w3-csenter w3-button w3-black" type="submit">
            <i class="fa fa-paper-plane"></i>Merge
          </button>
        <button class="w3-center w3-button w3-green" type="button" onclick="live_stream()">
            Stream
          </button>
      </div>
    </form>
  </div>

  <script type="text/javascript">
    {% if Merge == "Url Merged" %}
    document.getElementById('url').placeholder = 'Url Merged Enter another';
    window.alert("Url Merged");
    {% endif %}

    function clear_urls() {
      window.location.replace("http://127.0.0.1:8000/clear/");
    }
    {% if cleared == "done" %}
    document.getElementById('url').placeholder = 'Urls empty';
    window.alert("Url cleared");
    {% endif %}

    function live_stream() {
      window.location.replace("http://127.0.0.1:8000/stream/")
    }

    function w3_close() {
      mySidebar.style.display = "none";
    }
  </script>

</body>

</html>
